.form {
    display: flex;
    border-top: 10px solid #D3D3D3;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  
  .input {
    border: none;
    border-radius: 2;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    height: 10px
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: rgb(244, 244, 247);
    text-decoration:double;
    text-align: center;
    font-size: medium;
    background: #ff2982;
    padding: 30px;
    display: flex;
    border: none;
    width: 20%;
  }